<div class="content">
  <h1>AWQA</h1>
  <p>The online queue system designed to keep you safe.</p>

  <h3>Get Started</h3>
  <a class="btn btn-primary" href="/user/new">Create a User</a>
  <a class="btn btn-primary" href="/location/new">Create a Location</a>

</div>