<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AwMa User Interface</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/user/dashboard?id={{user.uuid}}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/locations?id={{user.uuid}}">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/settings?id={{user.uuid}}">Settings</a>
      </li>
    </ul>
  </div>
</nav>